<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frank.commonadapter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.frank.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.frank.sample.MultiTypeActivity"
            android:label="@string/MultiTypeCommonAdapter" />
        <activity
            android:name="com.frank.sample.ExpandableListActivity"
            android:label="@string/ExpandableListAdapter" />
        <activity
            android:name="com.frank.sample.SectionActivity"
            android:label="@string/SectionAdapter" />
        <activity
            android:name="com.frank.sample.SectionExpandableListActivity"
            android:label="@string/SectionExpandableListAdapter" />
        <activity
            android:name="com.frank.sample.RVSimpleActivity"
            android:label="@string/RVCommonAdapter" />
        <activity
            android:name="com.frank.sample.RVMultiTypeActivity"
            android:label="@string/RVMultiTypeCommonAdapter" />
        <activity android:name="com.frank.sample.RVSectionActivity"
            android:label="@string/RVSectionCommonAdapter"/>
    </application>

</manifest>