<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frank.commonadapter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.frank.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.frank.sample.MultiTypeActivity" android:label="@string/MultiTypeAdapter"/>
        <activity android:name="com.frank.sample.WithHeaderActivity" android:label="@string/WithHeaderAdapter"/>
        <activity android:name="com.frank.sample.ExpandableListActivity" android:label="@string/ExpandableListAdapter"/>
        <activity android:name="com.frank.sample.SectionActivity" android:label="@string/SectionAdapter"/>
    </application>

</manifest>